body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font: 16px;
}

// set the box model to include padding, border, and margin
// in sizing calculations
*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}

// default removes focus effects
*:focus {
  outline: none !important;
  box-shadow: none !important;
}

button {
  cursor: pointer;
}

@import 'components/all';
