.card {
  padding: 0px 20px 20px 20px;
  border-radius: 10px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: lightgrey;
  width: 600px;

  .card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    
    h3 {
      text-align: center;
      width: 100%;
      margin-bottom: 5px;
    }
  }

  img {
    border: 1px solid black;
    padding: 25x;
    width: 450px;
    height: 450px;
    object-fit: cover;
    background-color: white;
  }

  .word-wrapper {
    width: 100%;
    text-align: left;
  }

  .edit-button {
    background-color: rgb(0, 146, 0);
    color: white;
    margin-bottom: 5px;
  }

  .edit-button:hover {
    background-color: green;
  }
}