form {
  padding: 20px;
  box-shadow: 1px 2px 2px 1px rgba(145, 141, 141, 0.5);
  border-radius: 7px;
  background-color: #ffffff;
  flex-flow: column nowrap;
  padding-top: 40px;
  width: 100%;
  max-width: 600px;
  flex-flow: column nowrap;
  align-items: center;

  h3 {
    margin-top: 0px;
    text-align: center;
  }

  .input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap
  }

  .input-div {
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 7px;
    width: 270px;
    height: 46px;
    background-color: #f3f5fa;
    margin-bottom: 20px;
  }

  .textarea-div {
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 7px;
    justify-content: center;
    background-color: #f3f5fa;
    width: 270px;
    height: 100px;

    textarea {
      max-height: 88px;
      min-height: 88px;
      min-width: 260px;
      width: 100%;
      font-size: 13px;
      background-color: #f3f5fa;
      border: none;
    }
  }

  .current-image {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
  }

  .image-placeholder {
    width: 190px;
    height: 190px;
    text-align: center;
    vertical-align: middle;
    line-height: 200px; 
    border: 1px solid grey;
    margin: 10px;
  }

  input {
    width: 200px;
    font-size: 13px;
    background-color: #f3f5fa;
    border: none;
  }

  input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px #f3f5fa;
  }
}